.notificationss {
    background-color: rgb(175, 8, 167);
    color: rgb(219, 58, 58);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}